
<main>

  <h1>Listado de Products</h1>

<a class="btn" href="/products/create">Nuevo</a>

<form class="buscar" action="/products" method="GET">
    <input class="editform"
        type="text" 
        name="query" 
        placeholder="Buscar product..."
        value="{{query}}"
    />

    <button type="submit">Buscar</button>
</form>

<div class="ordenar" style="margin-bottom: 15px;"> Ordenar:
   <a class="btn" href="/products?page={{page}}&sort=asc">
    ⬇ 
</a>

<a class="btn" href="/products?page={{page}}&sort=desc">
    ⬆ 
    </a>
</div>

<div class="products" id="lista-products">
    {{#each products}}

    <div class="card">
    <h3>{{title}}</h3>

    <p>{{description}}</p>

    <p><strong>Categoría:</strong> {{category}}</p>

    <p><strong>Código:</strong> {{code}}</p>

    <p><strong>Precio:</strong> ${{price}}</p>

    <p><strong>Stock:</strong> {{stock}}</p>

    <p>
        <strong>Estado:</strong>
        {{#if status}}
            Disponible
        {{else}}
            No disponible
        {{/if}}
    </p>

    {{#if thumbnails.length}}
        <img
            src="{{thumbnails.[0]}}"
            alt="{{title}}"
            class="product-image"
        >
    {{/if}}

    <a class="btn" href="/products/{{_id}}">
        Ver detalle
    </a>

     <div class="card-footer">
       <a class="btn" href="/products/edit/{{_id}}">Editar</a>

    <form action="/products/{{_id}}?_method=DELETE" method="POST">
    <button class="btn">Eliminar</button>
    </form> 
    </div>

    </div>     

    {{/each}}
</div>

<hr>

<div class="pagination">
    {{#if hasPrevPage}}
       <a class="btn" href="/products?page={{prevPage}}&limit=10&sort={{sort}}&query={{query}}">
    ⬅ Anterior
    </a>
    {{/if}}

    <span>Página {{page}} de {{totalPages}}</span>

    {{#if hasNextPage}}
        <a class="btn" href="/products?page={{nextPage}}&limit=10&sort={{sort}}&query={{query}}">
    Siguiente ➡
    </a>
    {{/if}}
</div>


{{!-- WEBsocket --}}

<script src="/socket.io/socket.io.js"></script>

<script>

    const socket = io();

    socket.on("productsActualizados", (products) => {

        const lista = document.getElementById("lista-products");

        lista.innerHTML = products.map(product => `
            <div class="card">
            <h3>${product.title}</h3>

    <p>${product.description}</p>

    <p><strong>Categoría:</strong> ${product.category}</p>

    <p><strong>Código:</strong> ${product.code}</p>

    <p><strong>Precio:</strong> $${product.price}</p>

    <p><strong>Stock:</strong> ${product.stock}</p>

    <p>
        <strong>Estado:</strong>
        ${product.status ? "Disponible" : "No disponible"}
    </p>

    ${
        product.thumbnails?.length
            ? `<img src="${product.thumbnails[0]}" class="product-image">`
            : ""
    }

    <a class="btn" href="/products/${product._id}">
        Ver detalle
    </a>

    <div class="card-footer">
        <a class="btn" href="/products/edit/${product._id}">
            Editar
        </a>

        <form action="/products/${product._id}?_method=DELETE" method="POST">
            <button class="btn">Eliminar</button>
        </form>
    </div>
        </div>
        `).join("");

    });

</script> 

</main>
