<div class="carrito">

<h2>Carrito</h2>

{{#if cart.products.length}}

<form action="/cart/{{cart._id}}?_method=DELETE" method="POST">
    <button>Vaciar carrito</button>
</form>

<ul>
{{#each cart.products}}
    <li class="cart-item">
        {{!-- {{this.product.title}}
        -
        Cantidad: {{this.cantidad}} --}}

        <h3>{{this.product.title}}</h3> <p>Precio: ${{this.product.price}}</p> <p>Cantidad: {{this.cantidad}}</p>

    
{{!-- <p>{{this.product}}</p>
<p>Product ID: {{this.product._id}}</p> --}}
    <form class="editform" action="/cart/{{../cart._id}}/products/{{this.product._id}}?_method=PUT" method="POST">
    <input type="number" name="cantidad" value="{{this.cantidad}}" min="1">
    <button>Actualizar</button>
    </form>

    <form action="/cart/{{../cart._id}}/products/{{this.product._id}}?_method=DELETE" method="POST">
    <button>Eliminar</button>
</form>

</li>

{{/each}}
</ul>

{{else}}

<p>Carrito vacío</p>

{{/if}}

</div>

